<div class="content">
    <div class="contact-profile">
        <img src="https://gravatar.com/userimage/167077484/12be96bff78613a12cabc7963ba03248.jpeg?size=256" alt=""/>
        <p>Saeed Norouzi</p>
        <div class="social-media">
            <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="onlineCount">10</span></span>
        </div>
    </div>
    <div id="roomName">
        <h3>گروه پشتیبانی بوتواستارت</h3>
    </div>
    <div class="messages pb-5">
        <ul style="padding-bottom: 50px;">
            <li class="sent">
                <img src="https://gravatar.com/userimage/167077484/12be96bff78613a12cabc7963ba03248.jpeg?size=256" alt=""/>
                <p>salam dostan haleton chetore ? az course nodejs razi hastin?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
                <p>salam are babab khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..."/>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <div>
                <button class="submit"><i>send</i></button>
            </div>

        </div>
    </div>
</div>