<div class="content">
    <div class="contact-profile">
        <img src="https://gravatar.com/userimage/167077484/12be96bff78613a12cabc7963ba03248.jpeg?size=256" alt=""/>
        <% if(req.user.first_name && req.user.last_name) { %>
            <p><%= req.user.first_name + " " + req.user.last_name %></p>
        <% } else if(req.user.username) { %>
            <p><%= req.user.username %></p>
        <% } else { %>
            <p><%= req.user.phone %></p>
        <% } %>
        <input type="hidden" id="userID" value="<%= req.user._id %>">
        <div class="social-media">
            <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="onlineCount"></span></span>
        </div>
    </div>
    <div id="roomName">
        <h3>گروه پشتیبانی بوتواستارت</h3>
    </div>
    <div class="messages pb-5">
        <ul>
            <!-- messages list -->
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..."/>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <div>
                <button class="submit"><i>send</i></button>
            </div>
        </div>
    </div>
</div>