<div id="frame">
    <%-include("../layouts/sidepanel.ejs")%>
    <%-include("../layouts/content.ejs")%>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/dist/js/chat.js"></script>
<script src="/dist/js/socket.js"></script>
<script src="/dist/js/share.location.js"></script>